* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  font-size: 2rem;
  background: linear-gradient(
    135deg,
    rgba(41, 161, 245, 1) 0%,
    rgba(137, 197, 233, 1) 35%,
    rgba(80, 239, 246, 1) 100%
  );
  color: #fff;
}

html {
  height: 100%;
}

h1 {
  font-size: 86px;
  color: #bc2e1e;
  text-shadow:
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd,
    2px 3px 2px #378ab4,
    3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4,
    4px 3px 3px #5dabcd,
    4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd,
    5px 6px 2px #378ab4,
    6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4,
    7px 6px 1px #5dabcd,
    7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
  text-align: center;
  line-height: 2;
  font-weight: bold;

}

.todo-list {
  padding-top: 10px;
  width: 700px;
}

.todo {
  background: #fff;
  height: 3.5rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.todo-completed {
  text-decoration: line-through;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 24px;
}

.todo button {
  color: orangered;
  background: transparent;
  padding: 0 15px;
}

input {
  background: #fff;
  height: 3.5rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 7px 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #000;
  outline: 0;
  border: 0;
  flex: 1;
}

form {
  width: 80%;
  border-top: 1px solid;
  display: flex;
  margin-top: 10px;
}

form button {
  color: orangered;
  height: 3.5rem;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 0 25px;
}

.todos-top {
  display: flex;
  gap: 10px;
}

.todos-top select {
  padding-left: 10px;
  width: 150px;
  height: 3.5rem;
  margin-top: 10px;
  color: orangered;
  border: 0;
  outline: 0;
}

.toast-message {
  background: linear-gradient(
    135deg,
    rgba(41, 161, 245, 1) 0%,
    rgba(70, 149, 224, 1) 0%,
    rgba(134, 15, 119, 1) 35%,
    rgba(242, 102, 46, 1) 100%,
    rgba(80, 239, 246, 1) 100%
  );
  color: #fff;
  font-size: 20px;
}

.todo input {
  margin-top: 20px;
  margin-left: -10px;
  background-color: wheat;
}
